[Unit]
Description=Udp2RawClient - %i
After=network.target

[Service]
Type=forking
KillMode=process
PIDFile=/usr/local/udptools/pid/udp2raw-c%i.pid
Restart=no
ExecStart=/usr/local/udptools/udp2raw-c%i.sh start
ExecStop=/usr/local/udptools/udp2raw-c%i.sh stop
PrivateTmp=true
   
[Install]   
WantedBy=multi-user.target