[Unit]
Description=Udp2RawServer - %i
After=network.target

[Service]
Type=forking
KillMode=process
PIDFile=/usr/local/udptools/pid/udp2raw-s%i.pid
Restart=no
ExecStart=/usr/local/udptools/udp2raw-s%i.sh start
ExecStop=/usr/local/udptools/udp2raw-s%i.sh stop
PrivateTmp=true
   
[Install]   
WantedBy=multi-user.target