[Unit]
Description=UdpSpeederClient - %i
After=network.target

[Service]
Type=forking
KillMode=process
PIDFile=/usr/local/udptools/pid/udpspeeder-c%i.pid
Restart=no
ExecStart=/usr/local/udptools/udpspeeder-c%i.sh start
ExecStop=/usr/local/udptools/udpspeeder-c%i.sh stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target